In [1]:
import pandas as pd
import numpy as np
from datetime import time

In [5]:
# Question 1
df = pd.read_csv("C:/Users/Pawan/Downloads/dataset-3.csv")
def calculate_distance_matrix(file):
    distance_matrix = df.pivot(index='id_start', columns='id_end', values='distance')
    distance_matrix = distance_matrix.fillna(0)
    distance_matrix += distance_matrix.T
    np.fill_diagonal(distance_matrix.values, 0)
    return distance_matrix

calculate_distance_matrix(df)

id_end,1001402,1001404,1001406,1001408,1001410,1001412,1001414,1001416,1001418,1001420,...,1001462,1001464,1001466,1001468,1001470,1001472,1001488,1004354,1004355,1004356
id_start,,,,,,,,,,,,,,,,,,,,,
1001400,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1001402,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0
1001404,20.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0
1001406,0.0,16.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0
1001408,0.0,0.0,21.7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0
1001410,0.0,0.0,0.0,11.1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0
1001412,0.0,0.0,0.0,0.0,15.6,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0
1001414,0.0,0.0,0.0,0.0,0.0,18.2,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0
1001416,0.0,0.0,0.0,0.0,0.0,0.0,13.2,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0
1001418,0.0,0.0,0.0,0.0,0.0,0.0,0.0,13.6,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0
1001420,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12.9,0.0,...,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0
1001422,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.6,...,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0
1001424,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0
1001426,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0
1001428,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0
1001430,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0
1001432,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0
1001434,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0
1001436,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0
1001438,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0
1001440,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0
1001442,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,NaN,4.5,0.0,0.0,0.0
1001444,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.7,0.0
1001446,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0
1001448,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0
1001450,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0
1001452,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0
1001454,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0
1001456,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0
1001458,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0
1001460,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,17.9,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0
1001461,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5.1,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0
1001462,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,26.7,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0
1001464,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,26.7,0.0,8.5,0.0,0.0,NaN,0.0,0.0,0.0,0.0
1001466,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,8.5,0.0,10.7,0.0,NaN,0.0,0.0,0.0,0.0
1001468,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,10.7,0.0,10.6,NaN,0.0,0.0,0.0,0.0
1001470,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,10.6,0.0,NaN,0.0,0.0,0.0,0.0
1001488,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
1004354,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,2.0,2.0
1004355,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0
1004356,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,NaN,4.0,2.0,0.0,0.0

In [6]:
# Question 2
def unroll_distance_matrix(df):
    df_unrolled = df.stack().reset_index()
    df_unrolled.columns = ['id_start', 'id_end', 'distance']
    df_unrolled = df_unrolled[df_unrolled['id_start'] != df_unrolled['id_end']]
    return df_unrolled

unroll_distance_matrix(df)

     id_start    id_end   distance
0           0  id_start  1001400.0
1           0    id_end  1001402.0
2           0  distance        9.7
3           1  id_start  1001402.0
4           1    id_end  1001404.0
..        ...       ...        ...
127        42    id_end  1001470.0
128        42  distance       10.6
129        43  id_start  1001470.0
130        43    id_end  1001472.0
131        43  distance       16.0

[132 rows x 3 columns]

In [22]:
df1= unroll_distance_matrix(df)
#Question 3
def find_ids_within_ten_percentage_threshold(df, ref_value):
    avg_distance = df[df['id_start'] == ref_value]['distance'].mean()
    threshold = 0.1 * avg_distance
    df['avg_distance'] = df.groupby('id_start')['distance'].transform('mean')
    df_within_threshold = df[(df['avg_distance'] >= avg_distance - threshold) & (df['avg_distance'] <= avg_distance + threshold)]
    return df_within_threshold
find_ids_within_ten_percentage_threshold(df1,30)

     id_start    id_end distance  avg_distance
0           0  id_start  1001400  250362.73875
1           0    id_end  1001402  250362.73875
2           0  distance      9.7  250362.73875
3           0      moto     7.76  250362.73875
4           0       car    11.64  250362.73875
..        ...       ...      ...           ...
347        43      moto     12.8     250388.35
348        43       car     19.2     250388.35
349        43        rv     24.0     250388.35
350        43       bus     35.2     250388.35
351        43     truck     57.6     250388.35

[352 rows x 4 columns]

In [23]:
# Question 4
def calculate_toll_rate(df):
    rate_coefficients = {'moto': 0.8, 'car': 1.2, 'rv': 1.5, 'bus': 2.2, 'truck': 3.6}
    for vehicle, rate in rate_coefficients.items():
        df[vehicle] = df['distance'] * rate
    return df

calculate_toll_rate(df1)

,id_start,id_end,distance,avg_distance,moto,car,rv,bus,truck
0,0,id_start,1001400,250362.73875,801120.0,1201680.0,1502100.0,2203080.0,3605040.0
1,0,id_end,1001402,250362.73875,801121.6,1201682.4,1502103.0,2203084.4,3605047.2
2,0,distance,9.7,250362.73875,7.76,11.64,14.55,21.34,34.92
3,0,moto,7.76,250362.73875,6.208,9.312,11.64,17.072,27.936
4,0,car,11.64,250362.73875,9.312,13.968,17.46,25.608,41.904
...,...,...,...,...,...,...,...,...,...
347,43,moto,12.8,250388.35,10.24,15.36,19.2,28.16,46.08
348,43,car,19.2,250388.35,15.36,23.04,28.8,42.24,69.12
349,43,rv,24.0,250388.35,19.2,28.8,36.0,52.8,86.4
350,43,bus,35.2,250388.35,28.16,42.24,52.8,77.44,126.72
351,43,truck,57.6,250388.35,46.08,69.12,86.4,126.72,207.36

In [24]:
# Question 5
df2=find_ids_within_ten_percentage_threshold(df1,30)

def calculate_time_based_toll_rates(df):
    weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
    weekends = ['Saturday', 'Sunday']
    times = [(time(0, 0), time(10, 0), 0.8), (time(10, 0), time(18, 0), 1.2), (time(18, 0), time(23, 59, 59), 0.8)]
    df['start_day'] = np.nan
    df['end_day'] = np.nan
    df['start_time'] = np.nan
    df['end_time'] = np.nan
    for start_day, end_day in zip(weekdays, weekdays[1:] + ['Monday']):
        for start_time, end_time, discount_factor in times:
            df.loc[(df['start_day'] == start_day) & (df['start_time'] == start_time), ['moto', 'car', 'rv', 'bus', 'truck']] *= discount_factor
            df.loc[(df['start_day'] == start_day) & (df['start_time'] == start_time), ['end_day', 'end_time']] = end_day, end_time
    for start_day, end_day in zip(weekends, weekends[1:] + ['Monday']):
        df.loc[df['start_day'] == start_day, ['moto', 'car', 'rv', 'bus', 'truck']] *= 0.7
        df.loc[df['start_day'] == start_day, ['end_day', 'end_time']] = end_day, time(23, 59, 59)
    return df

calculate_time_based_toll_rates(df2)

,id_start,id_end,distance,avg_distance,moto,car,rv,bus,truck,start_day,end_day,start_time,end_time
0,0,id_start,1001400,250362.73875,801120.0,1201680.0,1502100.0,2203080.0,3605040.0,NaN,NaN,NaN,NaN
1,0,id_end,1001402,250362.73875,801121.6,1201682.4,1502103.0,2203084.4,3605047.2,NaN,NaN,NaN,NaN
2,0,distance,9.7,250362.73875,7.76,11.64,14.55,21.34,34.92,NaN,NaN,NaN,NaN
3,0,moto,7.76,250362.73875,6.208,9.312,11.64,17.072,27.936,NaN,NaN,NaN,NaN
4,0,car,11.64,250362.73875,9.312,13.968,17.46,25.608,41.904,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
347,43,moto,12.8,250388.35,10.24,15.36,19.2,28.16,46.08,NaN,NaN,NaN,NaN
348,43,car,19.2,250388.35,15.36,23.04,28.8,42.24,69.12,NaN,NaN,NaN,NaN
349,43,rv,24.0,250388.35,19.2,28.8,36.0,52.8,86.4,NaN,NaN,NaN,NaN
350,43,bus,35.2,250388.35,28.16,42.24,52.8,77.44,126.72,NaN,NaN,NaN,NaN
351,43,truck,57.6,250388.35,46.08,69.12,86.4,126.72,207.36,NaN,NaN,NaN,NaN